{% extends 'base.html' %} {% block head %}
<title>Task Master</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">外食ルーレット</h1>

  <!-- レコードが一つも無かったら表示する -->
  {% if records|length < 1 %}
  <h4 style="text-align: center">There are no Restaulant. Create one below!</h4>

  <!-- ラジオボタン -->
  <div class="form">
    <form action="/" method="POST">
      <div class="price">
        <p>料金</p>
        {% for b in budget %}
        <input type="radio" name="price" id="price" value="{{b}}" />{{b}} {%
        endfor %}
      </div>

      <div class="num">
        <p>人数</p>
        <input type="radio" name="num" id="num" value="1人" />1人
        <input type="radio" name="num" id="num" value="2人" />2人
        <input type="radio" name="num" id="num" value="3人" />3人
        <input type="radio" name="num" id="num" value="4人" />4人
        <input type="radio" name="num" id="num" value="5~10人" />5~10人
        <input type="radio" name="num" id="num" value="11人~" />11人~
      </div>

      <div class="place">
        <p>場所</p>
        {% for area in middle_area %}
        <input type="radio" name="place" id="place" value="{{area}}" />{{area}}
        {% endfor %}
      </div>

      <div>
        <input type="submit" value="START" />
      </div>
    </form>
  </div>

  <!-- レコードを確認するためのテーブル -->
  {% else %}
  <table style="text-align: center">
    <tr>
      <th>price</th>
      <th>People</th>
      <th>Area</th>
      <th>Date</th>
      <th>Area_code</th>
    </tr>

    {% for record in records %}
    <tr>
      <td>{{ record.price }}</td>
      <td>{{ record.num }}</td>
      <td>{{ record.place }}</td>
      <td>{{ record.date_created.date()}}</td>
      <td>{{ record.area_id }}</td>
      <!--apiでコードを出すようにする-->

      <td>
        <a href="/delete/{{record.id}}">Delete</a>
        <br />
        <a href="/update/{{record.id}}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <!-- ラジオボタン -->
  <div class="form">
    <form action="/" method="POST">
      <div class="price">
        <p>料金</p>
        {% for b in budget %}
        <input type="radio" name="price" id="price" value="{{b}}" />{{b}} {%
        endfor %}
      </div>

      <div class="num">
        <p>人数</p>
        <input type="radio" name="num" id="num" value="1人" />1人
        <input type="radio" name="num" id="num" value="2人" />2人
        <input type="radio" name="num" id="num" value="3人" />3人
        <input type="radio" name="num" id="num" value="4人" />4人
        <input type="radio" name="num" id="num" value="5~10人" />5~10人
        <input type="radio" name="num" id="num" value="11人~" />11人~
      </div>

      <div class="place">
        <p>場所</p>
        {% for area in middle_area %}
        <input type="radio" name="place" id="place" value="{{area}}" />{{area}}
        {% endfor %}
      </div>

      <div>
        <input type="submit" value="START" />
      </div>
    </form>
  </div>

  <!-- 抽出した100件のデータからランダムに1件を指定する -->
  <!-- <div>{{ api3 }}</div> -->
  <div>{{ api3[range(1,100) | random] }}</div>

  {% endif %}
</div>

{% endblock %}
