{% extends 'base.html' %} {% block head %}
<title>Task Master</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">{{ name }}</h1>
  <div id="app">
    <h1>{message}</h1>

    <form @submit.prevent="createTask">
      <div class="form-group row">
        <div class="col-9">
          <label for="">create new task</label>
          <input type="text" class="form-control" v-model="task.title" />
        </div>
        <div class="col-auto mt-auto">
          <button class="btn btn-success" type="submit">Create</button>
        </div>
      </div>
    </form>

    <div class="mt-5">
      <div class="card mb-3" v-for="task, index in tasks" :key="index">
        <div class="card-body row justify-content-between px-4" @dblclick="completeTask(task)" :class="{'completed': task.completed}">
          {task.title}
          <button type="submit" class="btn-close" @click="deleteTask(task)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
